*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://ak.picdn.net/shutterstock/videos/18056959/thumb/1.jpg');
    background-size: cover;
    background-position: center;
}

.box{
    display: flex;
    flex-direction: column;
    border: 5px solid black;
}

#risultato{
    text-align: center;
    padding: 10px 0;
    background-color: whitesmoke;
}
#dadi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

#dado1{
    text-align: center;
    padding: 10px 17px;
    border: 1px solid black;
    margin: 4px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.vs{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
}
#dado2{
    text-align: center;
    padding: 10px 17px;;
    border: 1px solid black;
    margin: 4px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
